doctype html5
html(lang='en')
  head

    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, maximum-scale=1', media='(device-height: 568px)')
    title Isaac Google Form

  body
    #content
      .wrapper
        h1 Isaac Google Form
        block content
